<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App Title</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/assets/">Assets</a></li>

                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}

        {% endblock %}
    </main>
    
    <footer>

    </footer>

</body>
</html>
