<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Asset</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Add Asset</h1>
<form method="post">
    {% csrf_token %}
    <label for="asset_type">Select Asset Type:</label>
    <select name="asset_type" id="asset_type">
        <option value="desktop">Desktop</option>
        <option value="laptop">Laptop</option>
    </select>
    
    <div id="desktop_fields">
        <h2>Add Desktop</h2>
        {{ desktop_form.as_p }}
    </div>
    
    <div id="laptop_fields">
        <h2>Add Laptop</h2>
        {{ laptop_form.as_p }}
    </div>
    
    <button type="submit">Add Asset</button>
</form>

<script>
    $(document).ready(function () {
        $('#desktop_fields, #laptop_fields').hide();

        $('#asset_type').change(function () {
            $('#desktop_fields, #laptop_fields').hide();
            var selectedAsset = $(this).val();
            $('#' + selectedAsset + '_fields').show();
        });
    });
</script>
</body>
</html>
